// Components
.btn {
  &-shape {
    padding: 0.75rem 1.5rem;
    font: {
      size: 1.5rem;
      family: var(--ff-roboto);
      weight: 500;
    }
    color: white;
    background-color: var(--clr-primary);
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: 300ms;

    &:hover {
      background-color: var(--clr-primary-alt);
    }
  }

  &-signin {
    padding: 0.25rem 1rem;
    font-size: var(--sign-in-btn);
  }
}

.select-button {
  position: relative;

  .globe {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    z-index: 1;
  }

  .arrow-down {
    position: absolute;
    top: 10px;
    right: 16px;
    color: white;
    z-index: 1;
  }

  &-lang {
    font-size: 1rem;
    line-height: 1.25rem;
    padding: 6px 36px;
    border: 1px solid 0.25rem;
    background: rgba(22, 22, 22, 0.7);
    border-color: rgba(128, 128, 128, 0.7);
    color: white;
    appearance: none;
    position: relative;
    cursor: pointer;
  }
}

.logo {
  width: 150px;
  height: 40px;
  display: block;

  img {
    display: block;
    max-width: 100%;
  }
}

.email-input {
  border: 1px solid rgba(128, 128, 128, 0.7);
  border-radius: 0.25rem;

  background-color: rgba(22, 22, 22, 0.7);

  width: 400px;
  padding: 0.5rem 1rem;
  color: white;

  &::placeholder {
    color: #fff;
    opacity: 0.8;
  }
}

.install-box {
  border: 2px solid #232323;
  background-color: #000;
  border-radius: 0.75rem;
  overflow: hidden;
  top: 75%;
  left: 21%;
  min-width: 21.875rem;

  img {
    display: block;
    height: 4.5rem;
  }

  .video img {
    height: 3.5rem;
  }
}