:root {
  --ff-roboto: 'Roboto', 'Segoe UI', sans-serif;

  --section-heading: 3rem;
  --sign-in-btn: 0.875rem;
  --button: 1.125rem;

  --fs-normal: 1.5rem;
  --fs-small: 1.25rem;

  --clr-primary: hsl(357, 92%, 47%);
  --clr-primary-alt: hsl(357, 84%, 41%);

  --clr-neutral: #2d2d2d;
  --clr-neutral-alt: #2e2e2e;

  --stn-padding: 4.5rem;
  --divider-height: 0.5rem;
}